@use "../../sass/abstracts";

.search {
  @include abstracts.flex(column, center, center, nowrap);
  gap: 1rem;

  &__btn {
    border: none;
    background-color: abstracts.$bg-tertiary;
    border-radius: 16px;
    color: white;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: abstracts.$bg-secondary;
    }
  }
}
