@use "../../sass/abstracts";

.main-nav {
  @include abstracts.flex(row, flex-start, center, nowrap);
  gap: 2rem;
  font-weight: bold;
  flex-grow: 1;
  @media screen and (max-width: 900px) {
    display: none;
  }

  a {
    all: unset;
    cursor: pointer;
    transition: all 250ms;
    font-weight: bold;
    text-transform: uppercase;
  }

  a:hover {
    color: abstracts.$bg-secondary;
    transform: scale(1.2);
  }

  .active {
    color: abstracts.$bg-secondary;
    transform: scale(1.2);
    border-bottom: 1px solid abstracts.$bg-secondary;
  }
}
