@use "../../sass/abstracts";

.actions {
  @include abstracts.flex(row, space-around, center, wrap);
  background-color: abstracts.$bg-tertiary;
  width: 100%;
  padding: 0.8rem;
  gap: 2rem;
  color: abstracts.$bg-primary;
  font-size: 1.2rem;

  span {
    @include abstracts.flex(row, center, center, nowrap);
    gap: 0.2rem;
  }

  &__servings {
    @include abstracts.flex(row, center, center, nowrap);
    gap: 0.4rem;
  }

  &__btn {
    background-color: abstracts.$bg-secondary;
    transition: background-color 250ms;

    &:hover {
      background-color: abstracts.$text-secondary;
    }
  }
}
