@use "../../sass/abstracts";

.recipe-details {
  background-color: abstracts.$bg-primary;
  position: relative;
  height: 100%;
  border-radius: inherit;
  overflow: auto;

  h3 {
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-align: center;
    color: abstracts.$bg-secondary;
  }

  &__close-btn {
    position: fixed;
    top: 8px;
    right: 22px;
    z-index: 30;
  }

  &__img {
    margin: 0 auto;
    display: block;
  }

  &__title {
    position: absolute;
    background-color: abstracts.$bg-dark-transparent;
    width: 100%;
    top: 60px;
    text-align: center;
    color: abstracts.$bg-primary;
    font-size: 1.7rem;
    padding: 1rem;
  }

  &__ingredients {
    width: 100%;
  }

  &__ingredients-list {
    @include abstracts.flex(column, flex-start, flex-start, nowrap);
    gap: 1rem;
    margin: 2rem 0;

    li {
      @include abstracts.flex(row, flex-start, center, nowrap);
      gap: 0.4rem;
      background-color: abstracts.$bg-tertiary-light;
      width: 100%;
      padding: 0 2rem;

      span {
        font-size: 1.2rem;
        padding: 0.4rem 0;
        font-weight: bold;
      }
    }
  }

  &__instructions {
    padding: 2rem 4rem;
    background-color: abstracts.$bg-tertiary-light;

    p {
      text-align: justify;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
}
