@use "../../sass/abstracts";

.nav {
  @include abstracts.flex(row, flex-start, center, nowrap);
  gap: 3rem;
  padding: 0;
  font-weight: bold;

  &__item {
    cursor: pointer;
    list-style-type: none;
    transition: all 250ms;
    font-weight: bold;
    text-transform: uppercase;

    a {
      all: unset;
    }
  }

  &__item:hover {
    color: abstracts.$bg-secondary;
    transform: scale(1.2);
  }

  .active {
    color: abstracts.$bg-secondary;
    transform: scale(1.2);
    border-bottom: 1px solid abstracts.$bg-secondary;
  }
}
