@use "../../sass/abstracts";

.input-field {
  @include abstracts.flex(row, center, center, nowrap);
  border-bottom: 1px solid abstracts.$bg-tertiary;
  max-width: 15rem;

  input {
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 100%;
  }

  &__icon {
    @include abstracts.flex(row, center, center, nowrap);
    border: none;
    height: 100%;
    padding: 0;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
}
