@use "../../sass/abstracts";

.pagination {
  @include abstracts.flex(row, center, center, nowrap);
  background-color: abstracts.$bg-tertiary;
  padding: 0.4rem;
  margin: 20px auto;
  gap: 0.3rem;

  &__btn {
    background-color: abstracts.$bg-tertiary;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 1.4rem;
    padding: 0.5rem;
    transition: opacity 200ms;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  &__btn--active {
    background-color: abstracts.$bg-secondary;
  }

  &__page-list {
    @include abstracts.flex(row, center, center, wrap);
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0.3rem;
  }
}
