@use "../../sass/abstracts";

.btn {
  @include abstracts.flex(row, center, center, nowrap);
  cursor: pointer;
  outline: none;
  color: inherit;
  font-family: inherit;
  background-color: abstracts.$bg-primary;
  padding: 0.4rem 0.8rem;
  gap: 0.3rem;
  border: 1px solid abstracts.$bg-tertiary;
  font-size: 1.2rem;
  border-radius: 1rem;

  &:disabled {
    visibility: hidden;
  }
}

span {
  font-size: 1.3rem;
}
