@use "../../sass/abstracts";

.filter-actions {
  @include abstracts.flex(row, center, center, nowrap);
  gap: 2rem;

  &__btn {
    background-color: abstracts.$bg-secondary;
    border: none;
    color: white;
    font-size: 1.2rem;

    &-icon {
      font-size: 1.5rem;
    }
  }
}

.tags {
  @include abstracts.flex(row, center, flex-start, nowrap);
  gap: 6rem;
  margin-top: 1rem;
  background-color: abstracts.$bg-tertiary-light;
}
